################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pirbar-server/.vs
/pirbar-server/packages
/pirbar-server/pirbar-server/bin/Debug
/pirbar-server/pirbar-server/obj/Debug

src/\.vs/PirBanka/v15/\.suo

src/\.vs/PirBanka/v15/Server/sqlite3/db\.lock

src/\.vs/PirBanka/v15/Server/sqlite3/storage\.ide

src/\.vs/PirBanka/v15/Server/sqlite3/storage\.ide-shm

src/\.vs/PirBanka/v15/Server/sqlite3/storage\.ide-wal

src/packages/Google\.Protobuf\.3\.5\.1/Google\.Protobuf\.3\.5\.1\.nupkg

src/packages/Google\.Protobuf\.3\.5\.1/lib/net45/Google\.Protobuf\.dll

src/packages/Google\.Protobuf\.3\.5\.1/lib/net45/Google\.Protobuf\.xml

src/packages/Google\.Protobuf\.3\.5\.1/lib/netstandard1\.0/Google\.Protobuf\.dll

src/packages/Google\.Protobuf\.3\.5\.1/lib/netstandard1\.0/Google\.Protobuf\.xml

src/packages/log4net\.2\.0\.8/lib/net20-full/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net20-full/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/net35-client/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net35-client/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/net35-full/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net35-full/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/net40-client/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net40-client/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/net40-full/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net40-full/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/net45-full/log4net\.dll

src/packages/log4net\.2\.0\.8/lib/net45-full/log4net\.xml

src/packages/log4net\.2\.0\.8/lib/netstandard1\.3/log4net\.dll

src/packages/log4net\.2\.0\.8/log4net\.2\.0\.8\.nupkg

src/packages/MySql\.Data\.8\.0\.12/lib/net452/MySql\.Data\.dll

src/packages/MySql\.Data\.8\.0\.12/lib/net452/MySql\.Data\.xml

src/packages/MySql\.Data\.8\.0\.12/lib/netcoreapp2\.0/MySql\.Data\.dll

src/packages/MySql\.Data\.8\.0\.12/lib/netcoreapp2\.0/MySql\.Data\.xml

src/packages/MySql\.Data\.8\.0\.12/lib/netstandard1\.6/MySql\.Data\.dll

src/packages/MySql\.Data\.8\.0\.12/lib/netstandard1\.6/MySql\.Data\.xml

src/packages/MySql\.Data\.8\.0\.12/lib/netstandard2\.0/MySql\.Data\.dll

src/packages/MySql\.Data\.8\.0\.12/lib/netstandard2\.0/MySql\.Data\.xml

src/packages/MySql\.Data\.8\.0\.12/MySql\.Data\.8\.0\.12\.nupkg

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net20/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net20/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net35/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net35/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net40/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net40/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net45/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/net45/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard1\.0/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard1\.0/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard1\.3/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard1\.3/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard2\.0/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/netstandard2\.0/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft\.Json\.dll

src/packages/Newtonsoft\.Json\.11\.0\.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft\.Json\.xml

src/packages/Newtonsoft\.Json\.11\.0\.2/LICENSE\.md

src/packages/Newtonsoft\.Json\.11\.0\.2/Newtonsoft\.Json\.11\.0\.2\.nupkg

src/pirbanka\.server/bin/Debug/config\.json

src/pirbanka\.server/bin/Debug/Google\.Protobuf\.dll

src/pirbanka\.server/bin/Debug/Google\.Protobuf\.xml

src/pirbanka\.server/bin/Debug/JamesWright\.SimpleHttp\.dll

src/pirbanka\.server/bin/Debug/JamesWright\.SimpleHttp\.pdb

src/pirbanka\.server/bin/Debug/log4net\.dll

src/pirbanka\.server/bin/Debug/log4net\.xml

src/pirbanka\.server/bin/Debug/MySql\.Data\.dll

src/pirbanka\.server/bin/Debug/MySql\.Data\.xml

src/pirbanka\.server/bin/Debug/Newtonsoft\.Json\.dll

src/pirbanka\.server/bin/Debug/Newtonsoft\.Json\.xml

src/pirbanka\.server/bin/Debug/pirbanka-server\.exe

src/pirbanka\.server/bin/Debug/pirbanka-server\.exe\.config

src/pirbanka\.server/bin/Debug/pirbanka-server\.pdb

src/pirbanka\.server/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

src/pirbanka\.server/obj/Debug/pirbanka-server\.exe

src/pirbanka\.server/obj/Debug/pirbanka-server\.pdb

src/pirbanka\.server/obj/Debug/pirbanka\.server\.csproj\.CopyComplete

src/pirbanka\.server/obj/Debug/pirbanka\.server\.csproj\.CoreCompileInputs\.cache

src/pirbanka\.server/obj/Debug/pirbanka\.server\.csproj\.FileListAbsolute\.txt

src/pirbanka\.server/obj/Debug/pirbanka\.server\.csprojResolveAssemblyReference\.cache

src/pirbanka\.server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

src/pirbanka\.server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

src/pirbanka\.server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs
/src/.vs/config
/src/pirbanka.server/bin/Debug
/src/packages/MySql.Data.6.10.7
/src/packages
/src/pirbanka.server/obj/Debug/TempPE
