################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pirbar-server/.vs
/pirbar-server/packages
/pirbar-server/pirbar-server/bin/Debug
/pirbar-server/pirbar-server/obj/Debug
