<div id="footer"></div>

<script type="text/javascript" src="/scripts/pirbanka.helpers.js"></script>

<script type="text/javascript" src="/scripts/tokenListener.js"></script>
<script type="text/javascript" src="/scripts/expireSession.js"></script>
<script type="text/javascript" src="/scripts/clock.js"></script>

<!-- Virtual keyboard -->
<script type="text/javascript" src="/scripts/jq-keyboard/jqkeyboard-min.js"></script>
<script type="text/javascript" src="/scripts/jq-keyboard/jqk.layout.cs.js"></script>
<link href="/scripts/jq-keyboard/jqkeyboard.css" rel="stylesheet" type="text/css" media="screen,projection" />

<script type="text/javascript" src="/scripts/pirbanka.postactions.js"></script>
