<div id="header">
    <div id="magicEye">
        <div class="plane main">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <div id="identityName"><%= Identity.Name %></div>
    <div id="clock"></div>
    <div id="clockNote"></div>
    <img src="images/pirbankomat.svg" alt="logo" id="logo" />
</div>